/* import require stafs from google */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  outline: none;
  text-decoration: none;
}
:root {
  --activeGreen: #2dbf64;
  --fontPrimary: #002333;
  --questionBG: #e4e8ee;
  --successGreen: #00ff84;
  --newGreen: #1dd881;
  --bodyBackground: #f2f4f8;
  --smartYellow: #ffc916;
  --smartBlue: #0070f3;
  --purpule: #728fce;
}
body {
  background: var(--bodyBackground);
  font-family: "Montserrat", sans-serif;
}
/* css starts there b */
.titleConatiner {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f6f6f6;
  font-size: 1.2rem;
}
/* conatainer */
.conatainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
/* FORM     */
.form {
  margin: 20px;
  transition: 0.4s ;
}

.form input {
  padding: 12px 40px;
  border: none;
  outline: none;
   border-radius: 8px;
  font-size: 1.1rem;
  border: 2px solid transparent;
}
.form span{
    padding: 9px;
    background: #7e7e7e0c;
    border-radius: 8px;
}
.form span:hover{
    background: var(--newGreen);
    color: #000000;
}
.form span:hover{
    transform: scale(1.4);
    border-radius: 0.3rem;
 
}
/* submitBtn */
.submitBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    padding: 12px;
    background: var(--fontPrimary);
    color: #f6f6f6;
    font-weight: bold;
    border-radius: 0.6rem;
    border: none;
    outline: none;
}
.submitBtn:hover{
    background: var(--successGreen);
    color: var(--fontPrimary);
}
 /* terms */
 .terms{
    text-decoration: underline;
    cursor: pointer;
    color: #006797;
 }
 /* NavigateBTN */
 .NavigateBTN{
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    font-weight: bold;
    border-radius: 8px;
    border: none;
    background: var(--newGreen);
    padding: 12px 40px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s;

 }
 .NavigateBTN:hover{
    background: var(--smartYellow);
    color: #000000;
    transform: scale(1.1);
 }
 .NavigateBTN a {
    color: #000000;
 }
 /* login  this is part of signup page for blar login text */
 .login{
  margin-top: 20px;
  background: rgba(153, 153, 153, 0.055);
  padding: 7px;
  font-weight: 700;
 }

 /* RESPONSIBE QUERY */
 @media screen and (max-width:570px) {
    .titleConatiner{
        font-size: 1rem;
    }
 }